*{
    margin: 0;
}
a {text-decoration:none;-webkit-tap-highlight-color:rgba(255,255,255,0);-webkit-user-select:none;-moz-user-focus:none;-moz-user-select:none;}
body{
    background-color: #ffffff;
}
.head-div{
    font-weight:600;
    font-size: 20px;
    color: #003366;
    text-align: center;
    width: 100%;
    padding-top: 10px;
}
.leftback{
    position: absolute;
    left: 16px;
}
.log{
    margin-top: 13px;
    width: 100%;
}
.body-div{
    padding: 16px;
}
.centent-div{
    width: 100%;
}
.centent-div  textarea{
    margin-top: 19px;
    font-size: 15px;
    width: 100%;
    height: 200px;
    outline: none;
    resize:none;
    border: 0;
}
.centent-div .title{
    font-size:16px;
    color: #333333;
}
.centent-div .title span{
    color: #003366;
    font-weight:600;
}
.file-div{
    display: flex;
    align-items: center;
}
.file{
    text-align: center;
    font-size:12px;
    color: #003366;
    width: 75px;
    height: 75px;
    border-radius:4px;
    border:1px dashed rgba(151,151,151,1);
}
.file img{
    margin-top: 15px;
}
.desc{
    margin-left: 2%;
    width: 75%;
}
.desc .title{
    margin-top: -5px;
    font-size: 16px;
    color: #666666;
}
.desc .info{
    margin-top: 20px;
    font-size: 12px;
    color: #999999;
}
.button-div{
    margin-top: 78px;
    text-align: center;
}
.button-div button{
    font-size:18px;
    color: #ffffff;
    width: 80%;
    height: 48px;
    background:rgba(0,177,241,1);
    box-shadow:0px 4px 8px 0px rgba(42,158,255,0.12);
    border-radius:24px;
    border: 0;
}
#fileUpload{
    opacity:0;
    width: 75px;
    height: 75px;
    position: absolute;
    margin-left: -25px;
}
        /**iPhone4、5*/
@media screen and (max-width:330px) {
.centent-div textarea{
height: 150px;
}
}